venv/Lib/site-packages/easy_install.py
venv/Lib/site-packages/matplotlib-3.7.5-py3.8-nspkg.pth
venv/Lib/site-packages/__pycache__/easy_install.cpython-38.pyc
venv/Lib/site-packages/__pycache__/pylab.cpython-38.pyc
venv/Lib/site-packages/__pycache__/six.cpython-38.pyc
venv/Lib/site-packages/__pycache__/threadpoolctl.cpython-38.pyc
venv/Lib/site-packages/__pycache__/typing_extensions.cpython-38.pyc
venv/Lib/site-packages/absl/__init__.py
venv/Lib/site-packages/absl/app.py
venv/Lib/site-packages/absl/app.pyi
venv/Lib/site-packages/absl/command_name.py
venv/Lib/site-packages/absl/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/absl/__pycache__/app.cpython-38.pyc
venv/Lib/site-packages/absl/__pycache__/command_name.cpython-38.pyc
venv/Lib/site-packages/absl/flags/__init__.py
venv/Lib/site-packages/absl/flags/_argument_parser.py
venv/Lib/site-packages/absl/flags/_defines.py
venv/Lib/site-packages/absl/flags/_exceptions.py
venv/Lib/site-packages/absl/flags/_flag.py
venv/Lib/site-packages/absl/flags/_flagvalues.py
venv/Lib/site-packages/absl/flags/_helpers.py
venv/Lib/site-packages/absl/flags/_validators_classes.py
venv/Lib/site-packages/absl/flags/_validators.py
venv/Lib/site-packages/absl/flags/argparse_flags.py
venv/Lib/site-packages/absl/flags/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/absl/flags/__pycache__/_argument_parser.cpython-38.pyc
venv/Lib/site-packages/absl/flags/__pycache__/_defines.cpython-38.pyc
venv/Lib/site-packages/absl/flags/__pycache__/_exceptions.cpython-38.pyc
venv/Lib/site-packages/absl/flags/__pycache__/_flag.cpython-38.pyc
venv/Lib/site-packages/absl/flags/__pycache__/_flagvalues.cpython-38.pyc
venv/Lib/site-packages/absl/flags/__pycache__/_helpers.cpython-38.pyc
venv/Lib/site-packages/absl/flags/__pycache__/_validators_classes.cpython-38.pyc
venv/Lib/site-packages/absl/flags/__pycache__/_validators.cpython-38.pyc
venv/Lib/site-packages/absl/flags/__pycache__/argparse_flags.cpython-38.pyc
venv/Lib/site-packages/absl/logging/__init__.py
venv/Lib/site-packages/absl/logging/__init__.pyi
venv/Lib/site-packages/absl/logging/converter.py
venv/Lib/site-packages/absl/logging/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/absl/logging/__pycache__/converter.cpython-38.pyc
venv/Lib/site-packages/absl/testing/__init__.py
venv/Lib/site-packages/absl/testing/_bazelize_command.py
venv/Lib/site-packages/absl/testing/_pretty_print_reporter.py
venv/Lib/site-packages/absl/testing/absltest.py
venv/Lib/site-packages/absl/testing/flagsaver.py
venv/Lib/site-packages/absl/testing/parameterized.py
venv/Lib/site-packages/absl/testing/xml_reporter.py
venv/Lib/site-packages/absl/testing/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/absl/testing/__pycache__/_bazelize_command.cpython-38.pyc
venv/Lib/site-packages/absl/testing/__pycache__/_pretty_print_reporter.cpython-38.pyc
venv/Lib/site-packages/absl/testing/__pycache__/absltest.cpython-38.pyc
venv/Lib/site-packages/absl/testing/__pycache__/flagsaver.cpython-38.pyc
venv/Lib/site-packages/absl/testing/__pycache__/parameterized.cpython-38.pyc
venv/Lib/site-packages/absl/testing/__pycache__/xml_reporter.cpython-38.pyc
venv/Lib/site-packages/absl_py-2.1.0.dist-info/AUTHORS
venv/Lib/site-packages/absl_py-2.1.0.dist-info/INSTALLER
venv/Lib/site-packages/absl_py-2.1.0.dist-info/LICENSE
venv/Lib/site-packages/absl_py-2.1.0.dist-info/METADATA
venv/Lib/site-packages/absl_py-2.1.0.dist-info/RECORD
venv/*
__pycache__/
venv/Lib/site-packages/absl_py-2.1.0.dist-info/top_level.txt
venv/Lib/site-packages/absl_py-2.1.0.dist-info/WHEEL
venv/Lib/site-packages/astunparse/__init__.py
venv/Lib/site-packages/astunparse/__main__.py
venv/Lib/site-packages/astunparse/printer.py
venv/Lib/site-packages/astunparse/unparser.py
venv/Lib/site-packages/astunparse/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/astunparse/__pycache__/__main__.cpython-38.pyc
venv/Lib/site-packages/astunparse/__pycache__/printer.cpython-38.pyc
venv/Lib/site-packages/astunparse/__pycache__/unparser.cpython-38.pyc
venv/Lib/site-packages/astunparse-1.6.3.dist-info/AUTHORS.rst
venv/Lib/site-packages/astunparse-1.6.3.dist-info/INSTALLER
venv/Lib/site-packages/astunparse-1.6.3.dist-info/LICENSE
venv/Lib/site-packages/astunparse-1.6.3.dist-info/METADATA
venv/Lib/site-packages/astunparse-1.6.3.dist-info/RECORD
venv/Lib/site-packages/astunparse-1.6.3.dist-info/top_level.txt
venv/Lib/site-packages/astunparse-1.6.3.dist-info/WHEEL
venv/Lib/site-packages/cachetools/__init__.py
